<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>

    <p>Completed Count: {{completedCount}} </p>

    <form @submit.prevent="addTodo">
      <select name="todos" id="todos" v-model="selectedOption">
        <option value="미완료 todo" selected>미완료 todo</option>
        <option value="완료 todo">완료 todo</option>
        <option value="전체 todo">전체 todo</option>
      </select><br>
      <input type="text" v-model="newTodo">
      <input type="submit" value="Add">
    </form>

    <ul>
      <li v-for="todo in computedTodos" :key="todo.id">
        <input type="checkbox" v-model="todo.isCompleted">
        <span :class="{ 'is-completed': todo.isCompleted }">{{ todo.text }}</span>
        <button @click="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref, watch, computed } = Vue

    const app = createApp({
      setup() {
        const todos = ref([])
        const newTodo = ref('')
        // 1. 완료된 할 일의 개수를 카운트하기 위한 변수 선언
        const completedCount = ref(0)
        // 2. watch 함수 호출
        // watch가 어떤 변수를 감시해야 할까?
        // 현재 todos 배열을 순회하며 todo의 isCompleted 변수와 체크박스가 v-model로 양방향 바인딩 되어있음
        // 새로운 사실! watch가 감시할 수 있는 변수는 값 하나가 아니라 모든 자료형임! 물론 배열과 객체도 가능하다.
        watch(todos.value, () => {
          const isCompletedCount = ref(0)
          for (const todo of todos.value) {
            if (todo.isCompleted === true) {
              isCompletedCount.value += 1
            }
          }
          completedCount.value = isCompletedCount.value 
        })
        
        // select과 양방향 바인딩을 통해 사용자가 어떤 옵션을 선택했는지 받아오기
        // v-model을 사용하는 경우 기본값을 설정하는 방법
        const selectedOption = ref('미완료 todo')
        // 3가지 상황에 따라 계산된 배열을 리턴
        const computedTodos = computed(() => {
          const incompletedtodos = ref([])
          const finishedTodos = ref([])
          for (const todo of todos.value) {
            if (todo.isCompleted) {
              finishedTodos.value.push(todo)
            } else {
              incompletedtodos.value.push(todo)
            }
          }
          if (selectedOption.value === '미완료 todo') {
            return incompletedtodos.value
          } else if (selectedOption.value === '완료 todo') {
            return finishedTodos.value
          } else {
            // 모든 todos는 기존의 배열 활용
            return todos.value
          }
        })

        const addTodo = function () {
          if (newTodo.value.trim() !== '') {
            const todoObj = {
              id: Date.now(),
              text: newTodo.value,
              isCompleted: false
            }
            todos.value.push(todoObj)
            newTodo.value = ''
          }
        }

        const deleteTodo = function (todoId) {
          const index = todos.value.findIndex(todo => todo.id === todoId)
          if (index !== -1) {
            todos.value.splice(index, 1)
          }
        }

        return {
          todos,
          newTodo,
          addTodo,
          deleteTodo,
          completedCount,
          computedTodos,
          selectedOption
          }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
