{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>할 일 목록 관리 프로젝트</title>
</head>
<body>
  <a href="{% url "todos:index" %}"><img src="{% static "logo.png" %}" alt="logo" width="30px" height="30px;"></a> | 
  {% if request.user.is_authenticated %}
  <h3>Hello, {{ user.username }}</h3>
  <a href="{% url "todos:create" %}">[CREATE]</a>
  <form action="{% url "accounts:logout" %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="[LOGOUT]">
  </form>
  <form action="{% url "accounts:delete" %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="[SIGNOUT]">
  </form>
  <a href="{% url "accounts:update" user.pk %}">[회원 정보 수정]</a>
  <a href="{% url "accounts:password" user.pk %}">[비밀번호 변경]</a>
  {% else %}
  <h3>로그인 해 주세요.</h3>
  <a href="{% url "accounts:login" %}">[LOGIN]</a>
  <a href="{% url "accounts:signup" %}">[SIGNUP]</a>
  {% endif %}
  <a href="{% url "diaries:index" %}">[DIARY]</a>
  {% block content %}
  {% endblock content %}
</body>
</html>