<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>DETAIL PAGE</h1>
  <p>글 번호: {{article.pk}}</p>
  <p>글 제목: {{article.title}}</p>
  <p>글 내용: {{article.content}}</p>
  <p>글 최초 작성시간: {{article.created_at}}</p>
  <p>글 마지막 수정시간: {{article.updated_at}}</p>
  <a href="{% url "articles:update" article.pk %}">[수정하기]</a>
  <hr>
  <h2>COMMENT LIST</h2>
  <form action="{% url "articles:comment_create" article.pk %}" method="POST">
    {% csrf_token %}
    {{comment_form.as_p}}
    <input type="submit" value="댓글 작성">
  </form>
  {% for comment in article.comment_set.all %}
    <li>{{comment.pk}}번째 댓글 : {{comment.content}}</li>
  {% endfor %}
  <a href="{% url "articles:index" %}">[Back]</a>
</body>
</html>