<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>
    <form @submit.prevent="addTodo">
      <input type="text" v-model.trim="todoInput">
      <input type="submit" value="Add">
    </form>

    <ul>
      <li v-for="todo in todos" :key="todo.id" :id="todo.id">
        <input type="checkbox" v-model="todo.isCompleted">
        <span :class="{ 'is-completed': todo.isCompleted }">{{ todo.text }}</span>
        <!-- 진짜 대박사건... 이렇게 간단하게 값을 넘길 수 있다니.. -->
        <button @click="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        const todoInput = ref('')
        const todos = ref([])
        // 1. todos 배열에 넣을 객체 선언
        const todo = ref({})
        let id = 0
        const addTodo = function () {
          // vue도 얼리리턴이 가능하다!! 
          if (todoInput.value.length === 0) {
            return
          }
          // id++로 설정해도 문제없이 동작한다.
          todo.value['id'] = Date.now()
          todo.value['text'] = todoInput.value 
          todo.value['isCompleted'] = false

          todos.value.push(todo.value)
          // 2. 여기서 todo를 초기화 하지 않으면 정상적으로 동작하지 않는다.
          // 초기화 작업을 해주자~~
          todo.value = {}
          todoInput.value = ''
        }
        // 3. 삭제 기능 구현
        // html에서 받아온 id 값으로 인덱스 찾고 삭제
        const deleteTodo = function (id) {
          // 4. id를 활용해 어떤 li인지 확인하기
          const pickTodo = todos.value.findIndex((todo) => {
            return todo.id === id
          })
          todos.value.splice(pickTodo,1)
        }
        return { 
          todos,
          addTodo,
          todoInput,
          deleteTodo,
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
