<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- if else -->
    <p v-if="isSeen">true일때 보여요</p>
    <p v-else>false일때 보여요</p>
    <!-- 오.. 이거 신박한데?? 간단한 경우 인라인으로 바로 동작설정 -->
    <button @click="isSeen = !isSeen">토글</button>

    <!-- else if -->
    <div v-if="name==='Alice'">Alice입니다</div>
    <div v-else-if="name==='Bella'">Bella입니다</div>
    <div v-else-if="name==='Cathy'">Cathy입니다</div>
    <div v-else>아무도 아닙니다.</div>

    <!-- v-if on <template> -->
    <!-- template 태그는 element에 나타나지 않는다. -->
    <template v-if="name==='Cathy'">
      <div>Cathy입니다</div>
      <div>나이는 30살입니다</div>
    </template>
    <!-- v-show -->
    <!-- v-if와 v-show의 궁극적 차이는 element창에 나타나느냐 아니냐 차이 -->
    <!-- 즉, show는 display: none 하는 거지만 if는 아예 그리지 조차 않는다. -->
    <!-- v-if: 초기 비용은 싸지만 토글의 비용은 비싸다. -->
    <!-- v-show: 초기 비용은 비싸지만 토글의 비용은 싸다. -->
    <!-- if는 자주 전환되지 않는 경우 / show는 자주 전환되는 경우 적절하다. -->
    <div v-show="isShow">v-show</div>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        const isSeen = ref(true)
        const name = ref('Cathy')
        const isShow = ref(false)

        return {
          isSeen,
          name,
          isShow
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
