<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- v-for -->
    <!-- v-for가 붙은 2개(myArr.length)의 div가 생성됨 -->
    <div v-for="item in myArr">
      {{ item.name }} / {{ item.age }}
    </div>
    <div v-for="(item,index) in myArr">
      {{ item.name }} / {{ item.age }} / {{index}}
    </div>
    <!-- 순서가 value/key 라는 점 주의 -->
    <div v-for="(value,key,index) in myObj">
      {{ value }} / {{ key }} / {{ index }}
    </div>

    <!-- v-for on <template> -->
    <ul>
      <!-- ul태그 하나를 유지하면서 li를 반복 -->
      <template v-for="item in myArr">
        <li>{{ item.name }}</li>
        <li>{{ item.age }}</li>
      </template>
      <hr>
    </ul>

    <!-- nested v-for -->
    <ul v-for="item in myInfo">
      <!-- 2중 for문 구성 -->
      <!-- 여기서 item.friends 사용할 수 있는게 신기! -->
      <li v-for="friend in item.friends">
        <!-- item을 여기서도 사용할 수 있는게 신기! -->
        {{ item.name }} - {{friend}}
      </li>
    </ul>

  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        // 배열 내부의 객체
        const myArr = ref([
          { name: 'Alice', age: 20 },
          { name: 'Bella', age: 21 }
        ])
        // 객체
        const myObj = ref({
          name: 'Cathy',
          age: 30
        })

        // nested v-for
        // 배열 내부 객체에 배열이 존재
        const myInfo = ref([
          { name: 'Alice', age: 20, friends: ['Bella', 'Cathy', 'Dan'] },
          { name: 'Bella', age: 21, friends: ['Alice', 'Cathy'] }
        ])

        return {
          myArr,
          myObj,
          myInfo
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
