<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>

    <ul>
      <li v-for="todo in todos" :key="todo.id" :class="todo.isCompleted ? 'is-completed':''">
        <input type="checkbox" v-model="todo.isCompleted">
        {{todo.text}}
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        let id = 0
        const todos = ref([
          {id:id++,
            text: ref('생필품 구입'),
            isCompleted:ref(false)
          },
          {id:id++,
            text: ref('빨래'),
            isCompleted:ref(false)
          },
          {id:id++,
            text: ref('방 청소'),
            isCompleted:ref(false)
          }
        ])
        return {
          todos,
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
