<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h1>설문조사</h1>

    <form @submit.prevent="submitBtn">
      <div>
        <label for="name">이름: </label>
        <input id="name" type="text" v-model="nameInput">
      </div>

      <div>
        <label for="email">이메일: </label>
        <input id="email" type="email" v-model="emailInput">
      </div>

      <div>
        <label for="age">나이: </label>
        <input id="age" type="number" v-model="ageInput">
      </div>

      <div>
        <label for="residence">거주지: </label>
        <select id="residence" required v-model="residenceInput">
          <option value="" disabled selected>거주지를 선택하시오.</option>
          <option>서울</option>
          <option>경기</option>
          <option>충청</option>
          <option>전라</option>
          <option>경상</option>
        </select>
      </div>

      <div>
        <label>사용하는 언어: </label>
        <div>
          <input type="checkbox" id="python" value="Python" v-model="languagesInput">
          <label for="python">Python</label>
        </div>
        <div>
          <input type="checkbox" id="javascript" value="JavaScript" v-model="languagesInput">
          <label for="javascript">JavaScript</label>
        </div>
        <div>
          <input type="checkbox" id="csharp" value="C#" v-model="languagesInput">
          <label for="csharp">C#</label>
        </div>
        <div>
          <input type="checkbox" id="ruby" value="Ruby" v-model="languagesInput">
          <label for="ruby">Ruby</label>
        </div>
      </div>
      <input type="submit" value="제출">
    </form>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        const nameInput = ref('')
        const emailInput = ref('')
        const ageInput = ref('')
        const residenceInput = ref('')
        const languagesInput = ref([])

        const formData = ref({
          name: '',
          email: '',
          age: '',
          residence: '',
          languages: [],
        })
        const submitBtn = function () {
          formData.value.name = nameInput.value
          formData.value.email = emailInput.value
          formData.value.age = ageInput.value
          formData.value.residence = residenceInput.value
          for (const language of languagesInput.value) {
            formData.value.languages.push(language)
          }
          
          console.log(formData.value.name)
          console.log(formData.value.email)
          console.log(formData.value.age)
          console.log(formData.value.residence)
          for (const language of formData.value.languages) {
            console.log(language)
          }

          nameInput.value.name = ''
          emailInput.value.email = ''
          ageInput.value.age = ''
          residenceInput.value.residence = ''
          languagesInput.value.languages = []
        }
        return {
          nameInput,
          emailInput,
          ageInput,
          residenceInput,
          languagesInput,
          formData,
          submitBtn
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
