<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Articles</h1>

  {% if request.user.is_authenticated %}
    <p>안녕하세요 {{ user.username }}</p>
    <a href="{% url "accounts:profile" user.username %}">내 프로필</a>

    <a href="{% url "articles:create" %}">CREATE</a>
    <form action="{% url "accounts:logout" %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="LOGOUT">
    </form>
    <form action="{% url "accounts:delete" %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="회원탈퇴">
    </form>
    <a href="{% url "accounts:update" %}">회원정보 수정</a>
  {% else %}
    <a href="{% url "accounts:login" %}">LOGIN</a>
    <a href="{% url "accounts:signup" %}">회원가입</a>
  {% endif %}

  <article class="article-container">
  {% for article in articles %}
    <a href="{% url "accounts:profile" article.user.username %}">
      <p>작성자: {{ article.user.username }}</p>
    </a>
    <p>글 번호: {{ article.pk }}</p>
    <a href="{% url "articles:detail" article.pk %}">
      <p>글 제목: {{ article.title }}</p>
    </a>
    <p>글 내용: {{ article.content }}</p>
    {% comment %} 좋아요 form 버튼 {% endcomment %}
    {% comment %} 좋아요 버튼의 action과 method 속성 삭제 {% endcomment %}
    {% comment %} HTML -> JS 데이터 전달을 위한 data 속성 설정 {% endcomment %}
    <form data-article-id="{{article.pk}}">
      {% csrf_token %}
      {% if request.user in article.like_users.all %}
      {% comment %} 좋아요는 게시글 마다 있으니까 구분이 필요함! {% endcomment %}
      {% comment %} 숫자만으로 구분이 가능하다고 하더라도 {% endcomment %}
      {% comment %} id를 {{article.pk}} 로만 하면 오류가 발생함 {% endcomment %}
      {% comment %} 반드시 문자열을 섞어서 사용해야 함. {% endcomment %}
        <input type="submit" value="좋아요 취소" id="like-{{article.pk}}">
      {% else %}
        <input type="submit" value="좋아요" id="like-{{article.pk}}">
      {% endif %}
    </form>
    <hr>
  {% endfor %}
  </article>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // POST 요청이니까 CSRFToken 준비!
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    // 1. 게시글을 모두 포함하는 최상위 요소 선택(버블링 활용)
    const articleContainer = document.querySelector('.article-container')
      // 2. 이벤트 리스너 부착
    articleContainer.addEventListener('submit', function (event) {
      // 3. 기본동작 취소하기
      event.preventDefault()
      // HTML 로부터 받은 article.pk 데이터 받기
      const articleId = event.target.dataset.articleId
      // 4. axios 요청 작성
      axios({
        method:'post',
        url:`/articles/${articleId}/likes/`,
        // CSRFToken 준비
        headers: {'X-CSRFToken': csrftoken},
      })
      .then ((respones) => {
        // html 로부터 전달받은 데이터 변수에 담기
        const is_liked = respones.data.is_liked
        const likeBtn = document.querySelector(`#like-${articleId}`)
        if (is_liked) {
          likeBtn.value = '좋아요 취소'
        } else {
          likeBtn.value = '좋아요'
        }
      })
      .catch ((error) => {
        console.log(error)
      })
  })
  </script>
</body>
</html>
