{% extends 'base.html' %}

{% block content %}
  <h1>편의점 상세 정보</h1>
  <p>점장 : {{ store.user }}</p>
  <p>주소 : {{ store.address }}</p>
  <p>체인점 여부 : {{ store.is_franchise }}</p>
  <hr>
  {% if store.user == request.user %}
  <h2>신규 상품 등록</h2>
  <form action="{% url "stores:creates_product" store.pk %}" method="POST">
    {% csrf_token %}
    {{product_create_form.as_p}}
    <input type="submit" value="상품 등록">
  </form> <hr>
  {% endif %}
  <h2>등록한 상품 목록</h2>
  <ul>
    {% for product in store.product_set.all %}
    <li>상품명: {{product.name}}</li>
    <li>가격: {{product.price}}</li>
    {% empty %}
    <p>상품을 등록해 주세요~~!!</p>
    {% endfor %}
  </ul>
  <a href="{% url 'stores:index' %}">[전체 목록 보기]</a>
{% endblock content %}