<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>게시글 생성 페이지</h1>
    <form action="{% url "create" %}" method = 'POST'>
        {% csrf_token %}
        <p>제목: <input type="text", name = 'title'></p>
        <p>내용: <textarea name="content" id="content"></textarea></p>
        <input type="submit" value = 'CREATE'>
    </form>
    <a href="{% url "index" %}">[Back]</a>
</body>
</html>