<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url "weathers:problem1" %}">[문제1]</a>
    <a href="{% url "weathers:problem2" %}">[문제2]</a>
    <a href="{% url "weathers:problem3" %}">[문제3]</a>
    {% comment %} <a href="{% url "weathers:problem4" %}">[문제4]</a> {% endcomment %}
    {% comment %} <a href="{% url "weathers:problem5" %}">[문제5]</a>  {% endcomment %}
    {% block content %}
    {% endblock content %}
</body>
</html>