{% extends "base.html" %}
{% block content %}
<h1>문제1. 데이터 읽어오기</h1>
<table>
    <tr>
        <th scope="col" style="background-color:yellow">Date</td>
        <th scope="col" style="background-color:yellow">TempHighF</td>
        <th scope="col" style="background-color:yellow">TempAvgF</td>
        <th scope="col" style="background-color:yellow">TempLowF</td>
        <th scope="col" style="background-color:yellow">DewPointHighF</td>
        <th scope="col" style="background-color:yellow">DewPointAvgF</td>
        <th scope="col" style="background-color:yellow">DewPointLowF</td>
        <th scope="col" style="background-color:yellow">HumidityHighPercent</td>
        <th scope="col" style="background-color:yellow">HumidityAvgPercent</td>
        <th scope="col" style="background-color:yellow">HumidityLowPercent</td>
        <th scope="col" style="background-color:yellow">HumidityLowPercent</td>
        <th scope="col" style="background-color:yellow">SeaLevelPressureHighInches</td>
        <th scope="col" style="background-color:yellow">SeaLevelPressureAvgInches</td>
        <th scope="col" style="background-color:yellow">SeaLevelPressureLowInches</td>
        <th scope="col" style="background-color:yellow">Events</td>
    </tr>
    {% for weather in weathers %}
    <tr>
        <td>{{weather.date}}</td>
        <td>{{weather.temp_high_f}}</td>
        <td>{{weather.temp_avg_f }}</td>
        <td>{{weather.temp_low_f }}</td>
        <td>{{weather.dew_point_high_f }}</td>
        <td>{{weather.dew_point_avg_f }}</td>
        <td>{{weather.dew_point_low_f }}</td>
        <td>{{weather.humidity_high_percent }}</td>
        <td>{{weather.humidity_avg_percent }}</td>
        <td>{{weather.humidity_low_percent }}</td>
        <td>{{weather.sea_level_p_high_inches }}</td>
        <td>{{weather.sea_level_p_avg_inches }}</td>
        <td>{{weather.sea_level_p_low_inches }}</td>
        <td>{{weather.events }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}