<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>{{ person.username }}님의 프로필</h1>
  <div> 
    <!--생략 ...-->
    <div>
      팔로잉 : <span id="followings">{{ person.followings.all|length }}</span> / 팔로워 : <span id="followers">{{ person.followers.all|length }}</span>
    </div>
    {% if request.user != person %}
      <div>
        <form id="follow-form" data-user-id="{{person.pk}}">
          {% csrf_token %}
          {% if request.user in person.followers.all %}
            <input type="submit" value="Unfollow" id="follow-btn">
          {% else %}
            <input type="submit" value="Follow" id="follow-btn">
          {% endif %}
        </form>
    </div>
    {% endif %}
  </div>  
  <hr>
  <h2>{{ person.username }}가 작성한 게시글</h2>
  {% for article in person.article_set.all %}
    <div>{{ article.title }}</div>
  {% endfor %}
  <hr>
  <h2>{{ person.username }}가 작성한 댓글</h2> 
  {% for comment in person.comment_set.all %} 
    <div>{{ comment.content }}</div> 
  {% endfor %}
  
  <hr>
  <h2>{{ person.username }}가 좋아요한 게시글</h2> 
  {% for article in person.like_articles.all %} 
    <div>{{ article.title }}</div> 
  {% endfor %}

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const followForm = document.querySelector('#follow-form')
    // 2. csrf 설정
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    followForm.addEventListener('submit', async (event) => {
      event.preventDefault()
      console.log('팔로우 버튼 클릭!')
      const userId = event.target.dataset.userId
      const followBtn = document.querySelector('#follow-btn')
      const followings = document.querySelector('#followings')
      const followers = document.querySelector('#followers')
      // 1. axios 요청폼 설정
      axios ({
        // 2. post 요청(db를 건들기 때문)
        method:'post',
        // 3. 받아온 userId url에 활용 
        url:`/accounts/${userId}/follow/`,
        // 4. 받아온 csrf 토큰 사용 
        headers: {'X-CSRFToken': csrftoken},
      })
      .then((response) => {
        const is_followed = response.data.is_followed
        if (is_followed) {
          followBtn.value = "언팔로우"
        } else {
          followBtn.value = "팔로우"
        }
        followers.textContent = response.data.followers
        followings.textContent = response.data.followings
      })
      .catch((error) => {
        console.log(error)
      })
       
    });
  </script>
  
</body>
</html>
