<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% if request.user.is_authenticated %}
  <h2>hello, {{user.username}}!</h2>
  <form action="{% url "accounts:logout" %}">
    {% csrf_token %}
    <input type="submit" value="로그아웃">
  </form>
  {% comment %} <a href="{% url "accounts:logout" %}">[logout]</a> {% endcomment %}
  {% else %}
  <a href="{% url "accounts:login" %}">[login]</a>
  
  {% endif %}
  {% block content %}
  {% endblock content %}
</body>
</html>